---
import Arrow from "../../icons/Arrow.astro";
import ProjectsItem from "./ProjectsItem.astro";
import { PROJECTS } from "./ProjectsList.astro";
const topProjects = PROJECTS.slice(0, 4);
---

<section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      topProjects.map((project) => (
        <div>
          <ProjectsItem {...project} />
        </div>
      ))
    }
  </div>
  <a href="/allprojects" class="w-fit flex flex-row gap-1 text-3xl my-5 ml-auto"
    >VIEW MORE<Arrow class="size-10" />
  </a>
</section>
