---
import "@fontsource/vujahday-script";
import Links from "./Links.astro";
---

<section class="mt-96 md:mt-56 mb-12">
  <div class="flex relative items-center min-h-60">
    <img
      class="size-[400px] md:size-[300px] absolute right-0 md:right-10 -top-36 md:-top-28 shadow rounded-full -z-10"
      src="/mariano.webp"
      alt="mariano-image"
    />
    <div class="font-bold text-white hero">
      <h3 class="text-7xl md:text-5xl text-shadow">Welcome!</h3>
      <h1 class="text-8xl md:text-[5.5rem] my-16 md:my-11 text-shadow">
        My name is Mariano
      </h1>
      <h2 class="text-7xl md:text-6xl mt-12 text-shadow">
        I'm a <span class="text-blue-400">software</span> developer
      </h2>
    </div>
  </div>

  <div class="mt-16 mb-8 text-[2.15rem] md:text-2xl font-thin leading-tightg ">
    <p class="flex flex-row items-center gap-2 mb-4 md:mb-1">
      Web <span class="text-blue-300">developer</span> based in Nijmegen
      <img src="netherlands.svg" class="size-11 md:size-8" alt="netherlands-flag-image" />
    </p>
    <p class="mb-4 md:mb-1">
      Bachelor with <span class="text-blue-400">over 10 years of experience</span> enhancing systems
    </p>
    <p class="mb-4 md:mb-1">
      Expert in <span class="text-blue-300">problem-solving</span> and analytical
      thinking</p>
    <p class="mb-4 md:mb-1">
        Proficient in <span class="text-blue-400">Agile</span>
        methodologies and project management
      </p>
    
  </div>
  <Links />
</section>

  <style>
    .hero {
      font-family: "Vujahday Script";
      margin-bottom: 15px;
    }
    .shadow {
      filter: drop-shadow(0 0 10px rgb(227, 214, 214));
    }

    .text-shadow { text-shadow: 2px 2px 2px #545760;}
  </style>
