---
import "@fontsource/vujahday-script";
---

<section class="my-12">
  <div class="flex relative items-center min-h-60">
    <img
      class="size-48 lg:size-64 absolute right-10 shadow rounded-full"
      src="/mariano.png"
      alt="mariano-image"
    />
    <div class="font-bold text-white hero">
      <h3 class="text-5xl">Welcome!</h3>
      <h1 class="text-7xl my-5">My name is Mariano</h1>
      <h2 class="text-5xl mt-7">
        I'm a <span class="text-blue-400">software</span> developer
      </h2>
    </div>
  </div>
  <div class="py-16 text-3xl lg:text-2xl font-extralight">
    <p class="flex flex-row align-middle gap-2">
      Web developer based in Nijmegen
      <img src="netherlands.svg" width="25" height="25" />
    </p>
    <p>
      Bachelor with <span class="text-blue-400"
        >over 10 years of experience enhancing systems</span
      >
    </p>
    <p>Expert in problem-solving and analytical thinking</p>
    <p>Proficient in Agile methodologies and project management</p>
  </div>
</section>

<style>
  .hero {
    font-family: "Vujahday Script";
    margin-bottom: 15px;
  }
  .shadow {
    filter: drop-shadow(0 0 10px rgb(227, 214, 214));
  }
</style>
