---
import Linkedin from "../../icons/Linkedin.astro";
import Cv from "../../icons/Cv.astro";
import Github from "../../icons/Github.astro";
---

<div class="flex flex-row gap-3">
  <!-- <Badge>Disponible para trabajar</Badge> -->
  <a
    href="https://www.linkedin.com/in/marianomorganti/"
    target="_blank"
    rel="noopener noreferrer"
    role="link">
    <Linkedin class={"size-12"} />
  </a>
  <a
    href="CV - MARIANO MORGANTI - WEB DEVELOPER.pdf"
    download="CV - MARIANO MORGANTI - WEB DEVELOPER.pdf">
    <Cv class={"size-12"} />
  </a>
  <a
    href="https://github.com/Morganti86"
    target="_blank"
    rel="noopener noreferrer"
    role="link">
    <Github class={"size-12"} />
  </a>
</div>
