---
import Navbar from "../components/Navbar/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import Experience from "../components/Experience/Experience.astro";
import Techs from "../components/Techs/Techs.astro";
import Projects from "../components/Projects/Projects.astro";

const title = "Morganti86 - Software Developer Portfolio";
const description =
  "Responsive portfolio website showcasing projects, experience, and skills with Astro, Tailwind CSS, and TypeScript. Optimized for a seamless user experience.";
---

<Layout title={title} description={description}>
  <main>
    <section>
      <Navbar />
      <Hero />
      <h2 id="Experience" class="text-3xl font-semibold mt-12 mb-5">
        EXPERIENCE
      </h2>
      <Experience />
      <h2 id="Techs" class="text-3xl font-semibold mt-12 mb-5">TECH STACK</h2>
      <Techs />
      <h2 id="Projects" class="text-3xl font-semibold mt-12 mb-5">PROJECTS</h2>
      <Projects />
    </section>
  </main>

  <style>
    main {
      margin: 0;
      /* width: calc(100% - 2rem); */
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
