---
import Navbar from "../components/Navbar/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import Experience from "../components/Experience/Experience.astro";
import Techs from "../components/Techs/Techs.astro";
import Projects from "../components/Projects/Projects.astro";
import Contact from "../components/Contact/Contact.astro";
import Code from "../icons/Code.astro";

const title = "Morganti86 - Software Developer Portfolio";
const description =
  "Responsive portfolio website showcasing projects, experience, and skills with Astro, Tailwind CSS, and TypeScript. Optimized for a seamless user experience.";
---

<Layout title={title} description={description}>
  <section id="Home">
    <Navbar />
    <Hero />
    <div class="container">
      <Code class="size-16 md:size-10" /><h2
        id="Experience"
        class="text-7xl md:text-4xl italic">
        EXPERIENCE
      </h2>
    </div>
    <Experience />
    <div class="container">
      <Code class="size-16 md:size-10" />
      <h2 id="Techs" class="text-7xl md:text-4xl italic">TECH STACK</h2>
    </div>
    <Techs />
    <div class="container">
      <Code class="size-16 md:size-10" />
      <h2 id="Projects" class="text-7xl md:text-4xl italic">PROJECTS</h2>
    </div>
    <Projects />
    <div class="container">
      <Code class="size-16 md:size-10" />
      <h2 id="Contact" class="text-7xl md:text-4xl italic">CONTACT</h2>
    </div>
    <h3 class="text-4xl md:text-3xl mb-10 text-blue-400">
      DON'T BE SHY! HIT ME UP!
    </h3>
    <Contact />
  </section>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 5rem;
    margin-bottom: 1.25rem;
    /* color: #3b82f6; */
    /* color: #3a67fa; */
    color: ivory
  }
</style>
