---
import Layout from "../layouts/Layout.astro";

const title = "Morganti86 - Software Developer Portfolio";
const description = "Responsive portfolio website showcasing projects, experience, and skills with Astro, Tailwind CSS, and TypeScript. Optimized for a seamless user experience.";
---

<Layout title={title} description={description}>
  <main>
  </main>

  <style>
    main {
      margin: 0;
      /* width: calc(100% - 2rem); */
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
