---
import Form from "./Form.astro";
import Gmail from "../../icons/Gmail.astro";
---

<section class="relative">
  <Form />
  <a href="mailto:mmorganti86@gmail.com" target="_blank" rel="noreferrer">
    <Gmail class="absolute top-0 right-0 size-72 rotate-45 opacity-95" />
  </a>
</section>
