---
import Form from "./Form.astro";
import Gmail from "../../icons/Gmail.astro";
---

<section class="relative">
  <Form />
  <a href="mailto:mmorganti86@gmail.com" target="_blank" rel="noreferrer">
    <Gmail
      class="absolute top-10 right-0 size-64 rotate-[25deg] opacity-95"
      alt="send me an email"
    />
  </a>
</section>
