<form
  id="form"
  class="relative my-10 w-[600px] h-[500px] md:h-96 flex flex-col justify-between">
  <label class="text-3xl md:text-lg mt-5">
    <input
      name="name"
      type="text"
      placeholder="name"
      value=""
      required
      class="w-[600px] p-1 bg-transparent border-b-2 outline-none placeholder:uppercase focus:border-blue-500"
    />
  </label>
  <label class="text-3xl md:text-lg">
    <input
      name="email"
      type="email"
      placeholder="email"
      value=""
      required
      class="w-[600px] p-1 bg-transparent border-b-2 outline-none placeholder:uppercase focus:border-blue-500"
    />
  </label>
  <label class="text-3xl md:text-lg mt-5">
    <textarea
      name="message"
      required
      placeholder="message"
      value=""
      class="w-[600px] h-40 p-1 resize-none bg-transparent border-2 rounded-lg outline-none placeholder:uppercase focus:border-blue-500"
    ></textarea>
  </label>
  <button
    type="submit"
    class="w-fit mx-auto text-blue-400  font-normal md:font-medium rounded-full text-3xl md:text-base px-8 py-2 text-center border border-blue-500 hover:border-blue-400"
    >SEND MESSAGE
  </button>
  <span id="messageResult" class="w-fit flex absolute -right-80 bottom-32 md:bottom-20 text-xl z-10"></span>
</form>

<script>
  const form = document.getElementById("form") as HTMLFormElement;
  const messageResult = document.getElementById(
    "messageResult"
  ) as HTMLFormElement | null;

  messageResult;
  if (form) {
    form.addEventListener("submit", async function (event) {
      event.preventDefault();

      const formData = new FormData(form);
      try {
        const response = await fetch("/api/sendMail", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          showMessage("Message sent successfully!", "green-600");
        } else {
          showMessage("Failed to send message.", "red");
        }
      } catch (error) {
        alert("An error occurred. Please try again later.");
        console.error("Error:", error);
      }
    });
  } else {
    console.error('Form with id "form" not found in the document.');
  }

  function showMessage(message: string, color: string) {
    if (messageResult) {
      messageResult.textContent = message.toUpperCase();
      messageResult.style.color = color;
      setTimeout(() => {
        messageResult.textContent = ""; // Hide after 2 seconds
      }, 2000);
      form.reset();
    }
  }
</script>
