---
const NAVBARLIST = [
  {
    label: "HOME",
    route: "#Home",
  },
  {
    label: "EXPERIENCE",
    route: "#Experience",
  },
  {
    label: "TECHS",
    route: "#Techs",
  },
  {
    label: "PROJECTS",
    route: "#Projects",
  },
  {
    label: "CONTACT",
    route: "#Contact",
  },
];
---

<header
  class="fixed top-0 left-1/2 transform -translate-x-1/2 z-10 mt-16 md:mt-10">
  <nav
    class="flex flex-row justify-center w-full px-5 py-5 md:py-2 rounded-full gap-8 opacity-80 bg-gray-600 text-3xl md:text-sm">
    {
      NAVBARLIST.map((nav) => (
        <a class="relative block hover:text-blue-400" href={nav.route}>
          {nav.label}
        </a>
      ))
    }
  </nav>
</header>
