<header class="py-5 w-[800px] mx-auto">
  <nav class="flex justify-center items-center flex-row gap-10 opacity-80 text-xl">
    <a href="#Home">Home</a>
    <a href="#Experience">Experience</a>
    <a href="#Projects">Projects</a>
    <a href="#Contact">Contact</a>
  </nav>
</header>
