---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col min-h-screen mx-auto px-8 md:px-15 w-[1600px]">
    <slot />
  </body>

  <style is:global>
    :root {
      color-scheme: light dark;
    }
    html {
      font-family: "Inter Variable", system-ui, sans-serif;
      scroll-behavior: smooth;

      /* background: #13151a; */
    }

    body {
      background-color: #050505;
      color: white;
      /* margin: 0 12%; */
      /* padding: 0 10%; */
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 1000px;
      max-width: 1000px;
      margin: 0 auto;
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
  </style>
</html>
